/* Use this file to use your own styles*/
/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');

.mybutton:hover {background-color: #3e8e41}


/* Styles for the body */





body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

.mytxtp {
	color: #B213CF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #4488C8;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #fff0e0;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.language-progress {
	background-color: #009DF5;
	
	
	
}



.roblanguage-progress {
		background-color: #99DB56;
}


.language-item {
	background-color: #FF00C0;
}
.language-level {
	background-color: #00FF17;
}

.bg-warning {
	background-color: #A900FF;
}
.border-info{
	background-color: #CC2640;

}
.border {
    background-color: #FF00C0;

}
.border-2 {
	background-color: #E1DC98;

}

.h2contact {
	
	color: #24B5B5;
}





.mynameRob {
	font-family: 'Cardo', serif;
	
}

.zaza {
	
	font-family: 'Cardo', serif;

}

.toto {
	
	font-family: 'Lobster', cursive;
	
}

.language-item {
    border: 0px;
}

.language-list{
    border: 0px;
}
a:hover {
  color: #FF007F;
}

.sasa {
	
	font-family: 'Smokum', cursive;
	
}
.border-colorrob {
    border-color: #F3AD39!important;
}









/* zaza
*/













